# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/

# DB
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
build/
.vite/

# Mobile
.expo/
.expo-shared/

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.production

# Logs
*.log

# Uploads
backend/uploads/
